<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="1884b47f-2c57-40f2-a3af-c8b2aff4a717" Publisher="CN=Craig" Version="1.0.0.0" />
  <Properties>
    <DisplayName>HeroHelper</DisplayName>
    <PublisherDisplayName>Craig</PublisherDisplayName>
    <Logo>Assets\store_logo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="HeroHelper.App">
      <VisualElements DisplayName="Hero Helper" Logo="Assets\logo.png" SmallLogo="Assets\small_logo.png" Description="Diablo 3 Utility to help plan your hero.  Compare items and see the effects on your EHP and DPS." ForegroundText="dark" BackgroundColor="#464646">
        <DefaultTile ShowName="noLogos" ShortName="Hero Helper" WideLogo="Assets\wide_logo.png" />
        <SplashScreen Image="Assets/splash.jpg" BackgroundColor="#000000" />
        <InitialRotationPreference>
          <Rotation Preference="landscape" />
        </InitialRotationPreference>
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>